Source: ros-hydro-openni2-camera
Section: misc
Priority: extra
Maintainer: Michael Ferguson <developers@unboundedrobotics.com>
Build-Depends: debhelper (>= 9.0.0), libopenni2-dev, ros-hydro-camera-info-manager, ros-hydro-catkin, ros-hydro-dynamic-reconfigure, ros-hydro-image-transport, ros-hydro-nodelet, ros-hydro-roscpp, ros-hydro-sensor-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-hydro-openni2-camera
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libopenni2-dev, ros-hydro-camera-info-manager, ros-hydro-dynamic-reconfigure, ros-hydro-image-transport, ros-hydro-nodelet, ros-hydro-roscpp, ros-hydro-sensor-msgs
Description: Drivers for the Asus Xtion and Primesense Devices. For using a kinect with ROS, try the freenect stack: http://www.ros.org/wiki/freenect_stack
